<%- include("header") -%>
<h1 id="heading">About the project</h1>
<div class="box">
    <p>This is a ToDo List project created using EJS templates. Different pages are implemented for different categories of ToDo items.
        The project is made by Atharva Shukla, in the process of learning and mastering Web Development.
    </p>
</div>
<%- include("footer") -%>