<footer>
  <div class="footer">
  <p>&#169; Made by ATV</p>
</div>
</footer>

<script>
    function myFunction() {
        var x = document.getElementById("myNavbar");
        if (x.className === "navbar") {
          x.className += " responsive";
        } else {
          x.className = "navbar";
        }
      }
</script>
</body>

</html>