<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="navbar" id="myNavbar">
        <a href="/" class="active">Home</a>
        <a href="today">Today's List</a>
        <a href="work">Work List</a>
        <a href="movie">Movie List</a>
        <a href="subject">Subject List</a>
        <div class="navbar-right">
                <a href="about">About</a>
                <a href="mailto:atharvagamer23@gmail.com">&#128231;Mail</a>
                <a href="tel:9199269893">&#128222;Call</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
      </div>